
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #FFFFFF;
    color: #111111;
    font-family: Roboto, sans-serif;
}
#container{
    max-width: 1280px;
    margin:auto;
    padding: 0;
}
 #navigation figure img, .rappellogo figure img{
    font-family: Shrikhand, sans-serif;
}

h1,h2,h3,h4{
    color: #000000;
}

h3{
    line-height: 35px;
}
h4{
    color:#FFFFFF;
}

/*@media screen and (max-width: 768px){*/
    
    header{                                     /*header*/
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #navigation{
        width: 100%;
    }
    #navigation figure{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 100px;
    }
    #navigation figure img{
        width: 180px;
        max-width: 100%;
        height:auto;
    }
    #navigation form{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 60px;
        background-color: #eaeaea;
        box-shadow: inset 0 5px 5px #d5d5d5;
    }
    .geolocalisation{
        margin-right: 20px;
    }
    form input{
        border:transparent;
        
    }
    input#nomdeville{
        width: 180px;
        font-size: 16px;
        font-weight: 700;
        background: #eaeaea;
        color:#111111;
    }
    .Explorermenus{              /*section.Exploremenus*/
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 40px 22px 50px;
        white-space: pre-line;
        background-color: #f6f6f6;
      text-align: center;
    }
    .Explorermenus h1{
        line-height: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    .Explorermenus form button{
        width: 185px;
        height: 42px;
        background-color: #9356DC;
        color:#FFFFFF;
        border-radius: 20px;
        border: transparent;
        box-shadow: 0px 5px 5px 0px #cecece,
                    12px 16px 26px inset#ea72da;
        font-weight: 500;
    }
    main{
        padding: 0;
    }
    #Fonctionnement{                /*section #Fonctionnement*/
        display: flex;
        flex-direction: column;
        white-space: pre-line;
        padding:40px 20px 40px;
        margin-bottom: 20px;
        max-width: 100%;
        margin-left: 7px;
    }
    #Fonctionnement h2{
        margin-bottom: 20px;
    }
    #test{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .choisir div{
        display: flex;
        align-items: center;
    }
    .choisir{
        background: #f6f6f6;
        margin-bottom: 20px;
        border-radius: 25px;
        box-shadow: 5px 5px 5px #e7e7e7;
        height: 70px;
        width: 100%;
        max-width: 400px;
        
    }
    div .cercle{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color:#FFFFFF;
        background: #9356DC;
        margin-right: 10px;
        margin-left: -7px;
    }
    .icone{
        margin: 0 10px 0 5px;
    }
    .choisir div p{
        color:#111111;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
    #restauration{                          /*section#restauration*/
        display:flex;
        flex-direction: column;
        background-color:#f6f6f6;
        padding: 40px 20px 40px;
    }
    #restauration h2{
        margin: 20px 0 20px;
    }
    #restaurants{
        display: flex;
        flex-direction: column;
    }
    #restaurants figure{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 5px 5px 2px #e7e7e7;  
        overflow: hidden; 
    }
    #restaurants figure img{ 
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    #restaurants figcaption{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        padding: 20px;
        background: #FFFFFF;
    }
    .coeur{
        margin-right: 8px;
        font-size: 21px;
    }
    
    .coeur .plein{
        color: #9356DC;
        display: none;
    }  
    
    .coeur .vide{
        display: block;
        color:#111111;
    }
    .coeur .vide:hover{
            color:#9356DC;
    }
    
    #restaurants .rectangle, figure #restaurants .rectangle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 30px;
        background: #99e2d0;
        color: #008766;
        margin-top: 10px;
        position: absolute;
        right: 36px;
    }
    
    footer{                                     /*footer*/
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #353535;
        color: #FFFFFF;
        padding: 10px 0 30px 20px;
        max-width: 100%;
    }
    .rappellogo figure img{
        filter: invert(1);
        width: 130px;
        height: auto;
        margin: 20px 0;
        
    }
    h4{
       margin-left: 30px; 
       margin-bottom: 10px;
       font-weight: normal;
    }
    a:link{
        text-decoration: none;
    }
    .couvert{
        display: flex;
        margin-top: 70px;
        position: absolute;
    }
    .main{
        display: flex;
        margin-top: 110px;
        position: absolute;
    }
    li{
        list-style-type: none;
        line-height: 30px;
        font-weight: lighter;
    }

/*}*/