*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #FFFFFF;
    color: #111111;
    font-family: Roboto,sans-serif;
    cursor: pointer;
}
#containeur{
    max-width: 1280px;
    margin:auto;
    padding:0;
}
h1, nav img{
    font-family: Shrikhand, sans-serif;

}
h1,h2,h3,h4{
    color:#000000;
}
h2{
    font-weight: 200;
    margin-bottom: 20px;
}
h2{
    border-bottom: solid 3px #99e2d0;
    max-width: 60px;
}
p{ 
    font-size: 15px;
}

/*@media screen and (max-width: 768px){*/
    
    header{                         /*header*/                      
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: 270px;
        max-width: 100%;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    nav figure{
        display: flex;
        justify-content: center;
    }
    
    .fleche{
        margin-right: 30px;
        font-size: 18px;
        max-width: 100%;
        height: auto;
        color:#111111;
    }
    nav figure img{
        width: 180px;
        max-width: 100%;
        height:auto;
        margin: 20px 60px 25px 0;
    }
    main{                               
        margin: 0;
        background-color: #f6f6f6;
        min-width: 350px;
        max-width: 100%;
    }
    main figure{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;
        
    }
    main figure img{
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
    main figcaption{
        display:flex;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
        background: #f6f6f6;
        padding: 30px 4px 2px;
        border-radius: 45px 45px 0 0;
        position: relative;
        bottom: 28px;
       
    }
    h1{
        font-weight: 100;
    
    }
    .coeur .vide{
        color:#111111;
    }
    .coeur .plein{
        color: transparent;
        position: absolute;
        top: 42px
    }
    .coeur .vide{
        display: block;
        position: relative;
    }
    
    .coeur .plein:hover{
        color:#9356DC;
    }
    .coeur{
        margin-right: 11px;
        font-size: 24px;
    }
    #Entrees, #Plats, #Desserts{ 
        display: flex; 
        flex-wrap: wrap; 
        flex-direction: column;        
        padding: 15px 12px 30px;
    }
    
    .descriptif{                       
        display:flex;
        align-items: center;
        max-width: 100%;
        height: 71px;
        margin-bottom: 20px;
        background: #FFFFFF;
        padding:8px 0 8px 8px;
        border-radius: 15px;
        box-shadow:  5px 5px 5px#cecece;
    }
    .texte{
        display: flex;
        flex-direction: column;
        line-height: 30px;
        width: 79%;
        height: 61px;   
    }
    h3, p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h3{
        margin-bottom: 1px;
    }
    div .choix{
        display:flex;
        justify-content: center;
        align-items: center;
        background: #99e2d0;
        color:#FFFFFF;
        width: 76px;
        max-width: 100%;
        height: 71px;
        border-radius: 0 15px 15px 0;
        margin: 0 1px 0 44px;
    }
    div .prix{
        display: flex;
        align-items: flex-end;
        margin: 0 -32px 4px 37px;
        font-weight: 600;
        width: 54px;
        height: 54px;
    }
    form{
        display:flex;
        justify-content: center;
    }
    form button{
        width: 185px;
        height: 42px;
        background-color: #9356DC;
        color:#FFFFFF;
        border-radius: 20px;
        border: transparent;
        box-shadow: 0px 5px 5px 0px #cecece,
                    12px 16px 26px inset#ea72da;
        font-weight: 500;
        font-size: small; 
        margin-bottom: 70px;          
    }
    
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #353535;
        color: #FFFFFF;
        padding: 10px 0 30px 20px;
        min-width: 350px;
        max-width: 100%;
    }
    .rappellogo figure img{
        filter: invert(1);
        width: 130px;
        margin: 20px 0;
        
    }
    h4{
       margin-left: 30px;
       margin-bottom: 10px;
       font-weight: normal;
       color: #FFFFFF;
    }
    .couvert{
        display: flex;
        margin-top: 70px;
        position: absolute;
    }
    .main{
        display: flex;
        margin-top: 110px;
        position: absolute;
    }
    li{
        list-style-type: none;
        line-height: 30px;
        font-weight: lighter;
    }
     footer a.proposer, footer a.partenariat{
        text-decoration: none;
    }  
/*}*/   
@media screen and (min-width: 768px){
    header{
        margin: 0 5px 5px;
    }
    main{
        margin: 0 5px;
    }
    nav{
        justify-content: space-evenly;
    }
    .descriptif{
        display: flex;
        width: 351px;
        height: 71px;
        max-width: 100%;
    }
    #Menus{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer{
        margin: 0 5px 0;
    }
}
     