@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500;700;900 & family= Shrikhand & display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikland', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background: #FFFFFF;
    color: #111111;
}
#ohmyfood,h1,h2,h3,h4{
    font-family: 'shrikland';
}
@media screen and (max-width: 768px){
    header{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}
    





